# === Backend dependencies ===
flask
requests
huggingface_hub
codecarbon
python-dotenv
psutil
platformdirs  
regex         

# === Frontend dependencies ===
streamlit
streamlit-option-menu
plotly
pandas
